::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

 /* ==========================================================================
   Author's custom styles
   ========================================================================== */

@font-face {
    font-family: proxima;
    src: url(../fonts/proximanova-regular.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: proxima;
    src: url(../fonts/proximanova-semibold.woff2) format("woff2");
    font-weight: 600;
    font-style: normal;

}

@font-face {
    font-family: proxima;
    src: url(../fonts/proximanova-bold.woff2) format("woff2");
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: umnik;
    src: url(../fonts/umnik-regular.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: umnik;
    src: url(../fonts/umnik-bold.woff2) format("woff2");
    font-weight: 700;
    font-style: normal;

}

body {
    margin: 0;
    padding: 0;

    font-family: "proxima", Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #000000;

    background-color: #ffffff;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    width: 1170px;
    margin: 0 auto;
    padding: 0;
}

@media (max-width: 768px) {
    .container {
        width: 564px;
    }

    .promo h1 {
        text-align: center;
    }

    .promo__preorder {
        margin-bottom: 30px;
    }
}

.promo-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.promo h1 {
    margin: 0 0 21px 0;
    padding: 17px 0 0 0;

    font-size: 40px;
    line-height: 48px;
    font-weight: 400;
}

.promo p {
    padding: 0;
    margin: 0;
}

.promo__item {
    width: 564px;
}

.promo__preorder--wrapper {
    width: 291px;
    display: flex;
    flex-direction: column;
}

.promo__item h3 {
    margin: 15px 0 6px 0;
    padding: 0;

    font-size: 31px;
    line-height: 37px;
    font-weight: 700;
}

.promo__preorder--wrapper > p {
    margin-bottom: 13px;
}

.promo__preorder {
    background-color: #ffde2f;
    background-image: url(../img/promo1-bg.png);
    background-repeat: no-repeat;

    display: flex;
}

.promo-footer-wrapper {
    display: flex;
    justify-content: space-between;
}

.timer-block {
    display: flex;
    justify-content: space-between;
    width: 280px;
}

.timer-block-value {
    width: 80px;
    height: 55px;
    margin-bottom: 5px;

    font-family: umnik, "Arial", sans-serif;
    font-size: 55px;
    font-weight: 700;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.2em;
    text-indent: 5px;

    background-color: #ffffff;
    
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    background-image:
            url("../img/timer-separator.png");
    background-position: center, 0 0;
    background-repeat: no-repeat, repeat;
}

.timer-block p {
    margin-bottom: 7px;
    text-align: center;
}

.promo__price {
    font-size: 36px;
    line-height: 43px;
    font-weight: 700;

    color: #ff0072;
}

.promo__item .promo__discount {
    position: relative;
    padding-left: 5px;
}

.promo__discount::before {
    content: "";

    width: 65px;
    height: 10px;

    position: absolute;
    background-image: url(../img/line-through.png);
    background-repeat: no-repeat;

    top: 5px;
    left: 0;
}

.promo__preorder .promo__link {
    margin-bottom: 10px;
    margin-top: 12px;
    margin-right: 5px;
}

.promo__competition {
    position: relative;
    
    background-color: #833a94;
    background-image: url(../img/promo-img2.jpg);
    background-repeat: no-repeat;
}

.promo__competition--overlay {
    position: absolute;
    left:0; top:0; bottom:0; right:0;
}

.promo__competition--inner {
    position:relative;
    pointer-events: none;
    z-index: 1;
}

.promo__competition .promo__link {
    pointer-events: all;
    margin-top: 229px;
    margin-left: 390px;
    margin-bottom: 22px;
}

.promo__link {
    padding: 10px 0 9px 0;
    display: block;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #ff0072;
    text-align: center;
    width: 142px;
    box-shadow: 1px 1px 1px 0.01px rgba(0, 0, 0, 0.44);
}

.promo__item--img {
    position: relative;

    margin: 12px 43px 13px 15px;
    display: block;
    width: 195px;
    height: 269px;
}

.promo__item--img::before {
    content: "";

    height: 119px;
    width: 106px;

    background-image: url(../img/label-promo.png);
    position: absolute;
    background-repeat: no-repeat;

    top: -9px;
    right: -42px;
}



